<p>Hi, I'm a Header Partial</p>

<% if (user_ID) { %>
    <p><%= user_ID %></p>
    <form method= "POST" action= "/logout">
        <input type="submit" value="logout" name="user_ID">
    </form>
<% } else { %>
    <a href="/login">Login</a>
    <a href="/register">Register</a>

    <!--<form method= "POST" action= "/login">
        <input name="username">
        <input type="submit" value="submit">
    </form>-->
<% } %>
