<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <h1>Home</h1>
  <header>
    <% include partials/_headers %>
  <ul>
  <% for(var i in URLS) { %>
    <li>URL: <%= URLS[i]  %> <br> Short URL: <%= i %> 
    <form method="GET" action="/urls/<%= i %>">
      <input type="submit" value="Edit">
    </form>
    <form method="POST" action="/urls/<%= i %>/delete">
      <input type="submit" value="Delete Me">
    </form>
      <% } %>
    </li>
  </ul>
  <a href="/urls/new">Press here to shorten a link!</a>

 
</body>
</html>