<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include partials/_headers %>
  <ul>
  <% for(var i in urls) { %>
    <li>URL: <%= urls[i] %> <br> Short URL: <%= i %> <form method="POST" action="/urls/<%= i %>/delete"><input type="submit" value="Delete Me"></form><% } %></li>
  </ul>
  <a href="/urls/new">Press here to shorten a link!</a>
 
</body>
</html>