<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include partials/_head %>
</head>
<body>
  <h1>Login</h1>
  <header>
    <% include partials/_headers %>
  </header>
<br>
<form action="/login" method="POST">
  <div class="form-group row col-md-6">
    <label for="email" class="col-sm-2 col-form-label">E-mail</label>
    <div class="col-sm-10">
      <input name="loginemail" type="email" class="form-control">
    </div>
  </div>
  <div class="form-group row col-md-6">
    <label for="password" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input name="loginpassword" type="password" class="form-control">
    </div>
  </div>
  <div class="col-auto">
    <input type="submit" value="register" class="btn btn-primary">
  </div>
</form>

</body>
</html>