<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <h1>Registraion</h1>
  <header>
    <% include partials/_headers %>
  </header>
<br>
<form action="/register" method="POST">
    <label for="email">E-mail:</label>
    <input name="email" type="email">
    <label for="password">Password:</label>
    <input name="password" type="password">
    <input type="submit" value="register">
</form>

</body>
</html>